<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan"><font color='#3b5998'>Website: Product Stock</font></h2>
            <h3>Salient Features:</h3>
        </div>
        <div class='oe_span12'>
            <ul>
                <li >Show product stock to both registered users and visitors, ie. user need not to login to see the product stock.</li>
                <li >Display custom message for Product In Stock and Product Out of Stock.</li>
                <li >Option to allow/disallow placing order for Out of Stock Product.</li>
                <li >Set a custom message for any particular product for stock status.</li>
                <li >Select the stock type to show on website.</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#odoo_website_product_stock_example_2" data-toggle="tab"><b>Website View</b></a></li>
        <li ><a href="#odoo_website_product_stock_example_1" data-toggle="tab"><b>Setup & Configure</b></a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">     
        <div class="tab-pane active" id="odoo_website_product_stock_example_2"> 

            <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced"> 
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Show/Hide stock information on product grid view page</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="enable_disable_grid_view.png" alt="enable_disable_grid_view"></center>
                        </div>
                    </div>       
                </div>
            </section>

            <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Stock message and quantity view in product grid view</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img  class="oe_picture oe_screenshot" src="stock_info.png" alt="stock_info"></center>
                        </div> 
                    </div>
                </div>
            </section>

            <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced"> 
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Show/Hide stock information on product page view</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="product_page_info.png" alt="product_page_info"></center>
                        </div>
                    </div>       
                </div>
            </section>

            <section class="oe_container">
                <div class="oe_row oe_spaced"> 
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Product stock information on product page</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="product_page_stock_info.png" alt="product_page_stock_info"></center>
                        </div>
                    </div>       
                </div>
            </section>

            <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced"> 
                    <div class="oe_span12">
                        <h3 class="text-center"><u>'Out of Stock' product</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="out_of_stock.png" alt="out_of_stock"></center>
                        </div>
                    </div>       
                </div>
            </section>


            <section class="oe_container">
                <div class="oe_row oe_spaced"> 
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Product quantity validation when increment the quantity</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="add_more_availiable.png" alt="add_more_availiable"></center>
                        </div>
                    </div>       
                </div>
            </section>

            <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced"> 
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Product quantity validation when 'Add to Cart'</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="add_all_qty.png" alt="add_all_qty"></center>
                        </div>
                    </div>       
                </div>
            </section>

            
           

            <section class="oe_container">
                <div class="oe_row oe_spaced"> 
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Quantity validation on shopping cart page</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="cart_add_qty.png" alt="cart_add_qty"></center>
                        </div>
                    </div>       
                </div>
            </section>

             <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced"> 
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Stock validation on shopping cart page</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="cart_validation.png" alt="cart_validation"></center>
                        </div>
                    </div>       
                </div>
            </section>
            <center><a class="btn btn-default" style="margin-top: 10px;" href="#odoo_website_product_stock_example_1" data-toggle="tab"><h3>View setup and configuration</h3></a></center>
        </div>

        <div class="tab-pane" id="odoo_website_product_stock_example_1">  
            <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h3 class="text-center"><u>'Webkul Website Addons' Page</u></h3>
                    </div>
                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="stock_configuration.png" alt="stock_configuration"></center>
                        </div>
                    </div>
                </div>
            </section>
            <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h3 class="text-center"><u>'Website Stock Setting Tree View</u></h3>
                    </div>
                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot" src="list_view.png" alt="list_view"></center>
                        </div>
                    </div>
                </div>
            </section>

            <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Set custom message and color for messages</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot img-rounded" src="instock_message.png" alt="instock_message"></center>
                        </div>
                    </div>
                </div>
            </section>

            <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Set extra custom message</u></h3>
                    </div>

                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot img-rounded" src="custom_message.png" alt="custom_message"></center>
                        </div>
                    </div>
                </div>
            </section>

            <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h3 class="text-center"><u>'Allow or Deny' order when product is out of stock</u></h3>
                    </div>
                    
                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot img-rounded" src="deny_order.png" alt="deny_order"></center>
                        </div>
                    </div>
                </div>
            </section>

             <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Configure stock location</u></h3>
                    </div>
                
                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot img-rounded" src="specific_stock.png" alt="specific_stock"></center>
                        </div>             
                    </div>
                </div>
            </section>

            <section class="oe_container  oe_dark">
                <div class="oe_row oe_spaced">
                    <div class="oe_span12">
                        <h3 class="text-center"><u>Override default setting for any specific product</u></h3>
                    </div>
                
                    <div class="oe_span12">
                        <div class="oe_row_img oe_centered">
                           <center><img class="oe_picture oe_screenshot img-rounded" src="product_override.png" alt="product_override"></center>
                        </div>             
                    </div>
                </div>
            </section>
            <center><a class="btn btn-default" style="margin-top: 10px;" href="#odoo_website_product_stock_example_2" data-toggle="tab"><h3>Website View</h3></a></center>
        </div>
    </div>
</section>

<br/>

<section class="oe_container oe_dark">
    <div class='oe_row'>
        <div class="oe_span12">
            <h2 class='oe_slogan'>Complimentary Support</h2>
            <p style="font-weight:700; font-size: 17px;">
            You will get 90 days of free support with the purchase of this module, it includes queries, bug fixing, and any other issues related to the module, excluding data recovery.
            </p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="text-warning text-center"> Get Technical Help & Support</h2>
        </div>
        <br/>
        <div class="oe_slogan oe_spaced">
           <img src="icon-help.png" alt="odoo-e-coomerce-website-braintree-api-payment-gateway-intrigation">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Help</a></span>
           <img src="icon-support.png" alt="odoo-e-coomerce-website-braintree-api-payment-gateway-intrigation">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Support</a></span>
           <img src="icon-features.png" alt="odoo-e-coomerce-website-braintree-api-payment-gateway-intrigation">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="http://webkul.uvdesk.com/en/customer/create-ticket/">Request new Features</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-PRODUCT-STOCK&url=https://apps.openerp.com/apps/modules/10.0/website_stock&uid=website_stock" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>
	