#btn_options {
    width: auto;
    height: auto;
    color: #FFF;
    box-shadow: 0px 10px 15px rgb(125, 125, 125);
    background-color: rgb(125, 125, 125);
    bottom: 20%;
    right: 0%;
    padding: 4px;
    cursor: pointer;
    position: fixed;
    float: right;
}

#btn_options:hover span {
    padding-right: 10px;
    transition: 0.1s;
}

#btn_options span {
    margin-left: 5px;
}

#box_options {
    z-index: 999;
    background-color: #FFF;
    width: 200px;
    height: 150px;
    bottom: 15%;
    float: right;
    position: fixed;
    right: 0%;
    font-size: 12px;
    font-family: tahoma;
    border: 1px solid #ccc;
    color: #555;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 3px 0px 3px 0px;
}

#box_options:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

#close:hover {
    float: right;
    display: inline-block;
    padding: 2px 5px;
    background: #ccc;
    color: #fff;
}
