#loading {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
    text-align: center;
}

#loading img {
    margin-top:20px;
}

.showmore {
    float: right;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
}

.rOptions {
    margin: 0px !important;
}
