<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><font color='#3b5998'>Website Stock Notify</font></h2>
            <h3 class="oe_slogan"><font color='#616161'>Website stock notify module is send e-mail notification to their customers regarding the product availability</font></h3>
        </div>
        <div class="oe_span12">
            <h3>Salient Features:</h3>
        </div>
        <div class='oe_span12'>
            <ul>
                <li>For out of stock products customer can receive mail notification about the product availability.</li>
                <li>Emails can be sent automatically by setting cron, when the product is back in stock.</li>
                <li>Admin can also send emails manually.</li>
                <li>Email template can be edited or created.</li>
                <li>Cron Scheduler can be revised.</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Customer can enter their valid email address to receive mail notification</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="website_stock_notify_frontent_website_view.png" alt="website_stock_notify_frontent_website_view"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Confirmation message is displayed as you click on notify</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="website_stock_notify_frontent_website_successful_msg.png" alt="website_stock_notify_frontent_website_successful_msg"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Website webkul addons page</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="stock_notify_config.png" alt="stock_notify_config"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Website stock notify configuration Tree View.</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="config_tree_view.png" alt="config_tree_view"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Website stock notify configuration Form View.</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="config_form_view.png" alt="config_tree_view"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Active a Configuration and Deactive Other</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="pop_up.png" alt="pop_up"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Stock notify cron scheduler</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="website_stock_notify_backend_cron_schedular.png" alt="website_stock_notify_backend_cron_schedular"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Stock notify email template</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="mail_template.png" alt="mail_template"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Stock notify back-end tree view</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="website_stock_notify_backend_tree_view.png" alt="website_stock_notify_backend_tree_view"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h3 class="text-center"><u>Stock notify email template</u></h3>
        </div>
        <div class="oe_span12">
            <div class="oe_row_img oe_centered">
                <center><img class="oe_picture oe_screenshot" src="website_stock_notify_backend_send_mail_manually.png" alt="website_stock_notify_backend_send_mail_manually"></center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan oe_spaced">
            <img src="icon-help.png">
            <span><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Help</a></span>
            <img src="icon-support.png">
            <span><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Support</a></span>
            <img src="icon-features.png">
            <span><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" target="_blank" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_span12">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-STOCK-NOTIFY&url=https://apps.openerp.com/apps/modules/10.0/website_stock_notifiy&uid=website_stock_notifiy" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>
