h4 a.ing, .title_faq{
	font-family: plume !important;
    color: #003366 !important;
    font-style: italic !important;
    text-transform: capitalize !important; 
    text-align: center;
}
.answer_faq{
	font-family: adobe caslon,serif !important;
}
.subtitle_faq hr {
    border-bottom: solid 1px rgba(0,0,0,.15);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.subtitle_faq p {
    color: #003366;
    font-size: 3.2rem !important;
    text-align: center;
    font-weight: bolder;
    margin: -32px 0 30px 0 !important;
    font-style: italic;
    font-family: plume !important;
    text-transform: capitalize;
}
.subtitle_faq p span {
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 15px;
}
