.wk_notify_main {
    padding: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
}

div.public-form {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 13px;
}

div.required_asterisk {
    float: left;
}

div.div_message_notify {
    display: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

p.wk_text {
    font-weight: 900;
    font-size: 1.09em;
}

div.wk_msg {
    display: none;
    font-weight: 700;
}

/* Copyright (c) 2015-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) */
/* Responsible Developer:- Sunny Kumar Yadav */
