.category_main_banner {
    margin-top: 2%;
} 

.category_main_banner img {
    width: 100%;
    position: relative;
}
.search_btn_wrapper input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 350px !important;
    display: inline-block;
    background: transparent;
    border-width: 1px;
    border-radius: 0;
}
.search_btn_wrapper input[type=text]:focus {
    border: 1px solid grey;
}
.search_btn_wrapper input[type=text]::placeholder {
    color:#003366;
}
.search_btn_wrapper button {
    float: left;
    width: auto;
    padding: 10px 15px;
    margin-top: -4px;
    background: transparent;
    color: #003366;
    font-size: 22px;
    border: 0px solid grey;
    border-left: none;
    cursor: pointer;
}
.search_btn_wrapper button:hover {
    background: transparent;
}
.search_btn_wrapper button:focus {
    outline: none;
}
.filter_categ_wrapper {
    margin-top: -8%;
}
.filter_categ_inner {
    padding-top: 50px !important;
    text-align: center;
}
.filter_categ_inner ul.filter_wrapper {
    padding-left: 0;
}
ul.filter_wrapper li:first-child {
    font-weight: 600;
}
ul.filter_wrapper li {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-style: italic;
    font-family: bebas;
    color: #003366;
}
ul.filter_wrapper li a {
    color: #003366;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.filter_wrapper li a:hover {
    color: #cd0000;
    text-decoration: none;
}
ul.filter_wrapper li.active a{
    color: #cd0000;
}

.filter_categ_inner ul.category_wrapper {
    padding-left: 0;
}
ul.category_wrapper li:first-child {
    font-weight: 600;
}
ul.category_wrapper li {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-style: italic;
    font-family: bebas;
    color: #003366;
}
ul.category_wrapper li a {
    color: #003366;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
ul.category_wrapper li a:hover {
    color: #cd0000;
    text-decoration: none;
}
ul.category_wrapper li.active a {
    color: #cd0000;
    text-decoration: none;
}

ul.size_wrapper {
    padding-left: 0;
}
ul.size_filter_inner li:first-child {
    font-weight: 700;
}
.size_filter_inner {
    margin: 0;
    padding: 0;
    margin-left: 0 !important;    
}
.size_bold {font-weight: 700;}
ul.size_wrapper li {
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    font-family: bebas;
    color: #003366;
}
ul.size_wrapper li:first-child {
    font-weight: bold !important;
}
ul.size_wrapper li label {
    font-weight: 500;
    margin: 0px 0px 0px 0px;
}
ul.size_wrapper li label.active{
    color: #cd0000;
}
ul.size_wrapper li label:hover{
    color: #cd0000;
    cursor: pointer;
}
ul.size_wrapper li a {
    color: #003366;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.sort_by_wrapper {height: 0;}
.categ-section .dropdown_sorty_by {
    position: relative;
    float: right;
    top:25px;
}
.categ-section .dropdown_sorty_by .dropdown-menu {
    left: auto;
    right: 0;
}
/*---------------- Shoe product section start-------------*/
.shoe_product_wrapper {
    /*margin: 0 0 4em 0;*/
    padding-top: 15px;
    /*background-color: #969ae3;*/
}
.shoe_product_inner .col-lg-4, .shoe_product_inner .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}
.shoe_product_wrapper>span>img{
    width: 100%;
}
.c_product_inner .c_product_img img {
    width: 100%;
}
.c_product_inner .c_product_img {
    position: relative;
}
.c_product_inner ul.cart_icon {
    list-style: none;
    display: block;
    position: absolute;
    bottom: 5px;
    padding-left: 0;
    right: 20px;
}
.c_product_inner ul.gender_icon {
    list-style: none;
    display: block;
    position: absolute;
    bottom: 5px;
    padding-left: 0;
    /*n*/
    margin-left: 20px;
}
.c_product_inner ul.gender_icon i{
    color: #003366;
}
.c_product_inner ul.gender_icon li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}
.c_product_inner ul.cart_icon li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}
.c_product_inner ul.cart_icon li a {
    color: #003366;
    cursor: pointer;
}
.c_product_inner ul.cart_icon li span {
    color: #003366;
    margin-left: 0px;
    cursor: pointer;
}
.c_product_inner .c_product_details {
    margin: 0px 0 5px 0;
}
.c_product_details .c_product_title {
    text-align: center;
    padding-bottom: 5px;
}
.c_product_details .c_product_title a {
    color: #003366;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    margin: 0 0 15px 0;
    font-style: italic;
    font-family: plume;
    text-transform: capitalize;

    /*N*/
    position: absolute;
    top: 7%;
    left: 7%;
    font-size: 20px;
    text-transform: uppercase;
}
.c_product_details .c_product_title a:hover, .c_product_details .c_product_title a:focus {
    color: #003366;
    text-decoration: none;
}
.c_product_details .price {
    margin-bottom: 1em;
}
.c_product_details .price {
    text-transform: uppercase;
    /*color: #003366;*/
    text-align: center;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bolder;
    font-family: plume;

    /*N*/
    color: #b31315;
    position: absolute;
    top: 7%;
    right: 7%;
}
.product_categs{
    padding-top: 30px;
}
/*---------------- Shoe product section end-------------*/
ul.size_wrapper li a:hover {
    color: #cd0000;
    text-decoration: none;
}
ul.size_wrapper li.active {
    color: #cd0000;
}
.products_pager{
    margin-top: -6% !important;
    display: none;
}
.js_attributes {
    text-align: center;
}

.section_title p {
    color: #003366;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    margin: -32px 0 2em 0;
    font-style: italic;
    font-family: plume;
}
.section_title p span {
    display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 15px;
}
.css_attribute_color1 {
    display: inline-block;
    text-align: center;
}
.css_attribute_color1 input {
    margin: 2px;
    height: 11px;
    opacity: 0;
}
.shoe_product_wrapper span img.categ_image {
    margin-bottom: 0px;
}
.showmore {
    display: none;
}
/*.wish_list_wrapper{
    margin-top: 16% !important;
}*/
.css_attribute_color{
    margin-left: 1em;
}

/*------------------- product page start------------------*/
.prod_filter_wrapper {
    padding-bottom: 30px;
    text-align: center;
}
.prod_filter_wrapper ul.prod_filter_inner {
    padding-left: 0;
}
ul.prod_filter_inner li:first-child {
    font-weight: 600;
}
ul.prod_filter_inner li {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    font-style: italic;
    font-family: bebas;
    color: #003366;
}
ul.prod_filter_inner li a {
    color: #003366;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.prod_filter_inner li a:hover {
    color: #cd0000;
    text-decoration: none;
}
ul.prod_filter_inner li a.active {
    color: #cd0000;
}
.prod_variant_img {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.prod_variant_img li {
    display: inline-block;
    padding: 0 10px 0 0;
}
.prod_variant_img li:first-child {
    padding-left: 0;
}
.prod_variant_img li img {
    height: 70px;
    width: 70px;
}
.product_page h1 {
    font-family: plume;
    text-transform: capitalize;
    color: #003366;
    font-size: 3.0rem;
}
.product_size label {
    width: 100%;
    font-family: plume;
    font-style: italic;
    font-weight: 900;
}
.size_inner {
    margin: 2px 0;    
}
.size_inner>li>a, .size_inner>li>span {
    color: #000;
    border: 1px solid #dedede;    
}
.size_inner>.active>a, 
.size_inner>.active>a:focus, 
.size_inner>.active>a:hover, 
.size_inner>.active>span, 
.size_inner>.active>span:focus, 
.size_inner>.active>span:hover {
    background-color: #003366;
    border-color: #003366;
}
.size_inner>.disabled>a, 
.size_inner>.disabled>a:focus, 
.size_inner>.disabled>a:hover, 
.size_inner>.disabled>span, 
.size_inner>.disabled>span:focus, 
.size_inner>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #ddd;
    border-color: #ddd;
}
.size_inner>li:last-child>a, .size_inner>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.size_inner>li:first-child>a, .size_inner>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.product_page .btn_cart {
    background-color: #cd0000;
    border-color: #cd0000;
    border-radius: 0;
    font-size: 1.2rem;
    width: 180px;
    font-family: adobe caslon,serif;
    padding: 16px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product_details_wrapper {
    padding-top: 20px;
    padding-bottom: 30px;
}
.product_details_wrapper .details_inner h2 {
    font-family: plume;
    text-transform: capitalize;
    color: #003366;
    font-size: 2.4rem;
    font-style: italic;
}
.product_details_wrapper .details_inner p {
    font-family: adobe caslon,serif;
    font-weight: 600;
}
.product_details_wrapper .shoe_desc {
    padding-top: 50px;
}
.product_details_wrapper h2.sub_desc_heading {
    font-size: 2.8rem;
    font-weight: 500;
    /*color: grey;*/
}
.product_details_wrapper .shoe_desc p {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: gray;
}
.product_details_wrapper .shoe_desc span {
    color: grey;
}
.size_box_main {
    padding-top: 20px;
}
.size_txtbox_wrapper {
    width: 18%;
    display: inline-block;
    margin-right: 8px;
}
.size_txtbox label {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: gray;
}
.size_txtbox input {
    border: 1px solid #b7b4b4;
    height: 30px;
    width: 100%;
}
.price-disc{
    margin-left: 1em; 
}
/*------------------- product page end------------------*/