/*@media (min-width: 1281px) {
    .gallery_center_image img {
        height: 480px;
        margin-bottom: 10px;
    }
}*/
@media (max-width: 1366px) {
    .products_pager {margin-top: -6% !important;}
    .wish_list_wrapper {margin-top: 2%;}
    .category_main_banner {margin-top: 3%;}
    /*.filter_categ_wrapper {margin-top: -11%;}*/
}
@media (min-width: 1200px){
    .container {
        width: 960px;
    }
}
@media (min-width: 992px){
    .container {
        width: 960px;
    }
}
@media (max-width: 1200px) {
    .header_top .header_offer .carousel-control.left {left: 30%;}
    .header_top .header_offer .carousel-control.right {right: 30%;}
    /*.wish_list_wrapper {margin-top: 3%;}*/
    .products_pager {margin-top: -8% !important;}
    /*.category_main_banner {margin-top: -9%;}*/
    main .oe_website_login_container {margin-top: 15% !important;}
    .filter_categ_wrapper {margin-top: -12%;}
}
/*@media (max-width: 1024px) {
    .gallery_center_image img {height: 305px;}
}*/
@media (max-width: 991px) {
    .header_top .header_offer .carousel-control.left {left: 25%;}
    .header_top .header_offer .carousel-control.right {right: 25%;}
    header .header_top .header_top_right {margin-right: 20px;}
    .carousel-fade .carousel-content h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .carousel-fade .carousel-content h4 {font-size: 18px;}
    .indicators-line > .carousel-indicators {right: 45%;}
    .product_details h5.product_title {font-size: 24px;}
    .product_details .address p, .product_details .open_hours p {font-size: 14px;}
    .footer .col-lg-3:nth-child(3) {margin-top: 15px;}
    .footer .col-lg-3:nth-child(4) {margin-top: 15px;}
    .products_pager {margin-top: -9% !important;}
    .c_product_details .c_product_title a {font-size: 24px;}
    .c_product_details .price {font-size: 16px;}
    .category_main_banner {margin-top: 4%;}
    main .oe_website_login_container {margin-top: 20% !important;}
    .filter_categ_wrapper {margin-top: -14%;}
}
/*@media (max-width: 768px) {
    .bs-slider > .carousel-inner > .item img {object-fit: fill;}
}*/
@media (max-width: 767px) {
    .header_top .promo_wrapper {margin-top: 0px;}
    .menu_inner_area .navbar.navbar-default .navbar-header {height: 100%;}
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand {line-height: 65px;min-height: 65px;padding: 0px 0px 0px 0;}
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {width: 100%;margin-top: 0;}
    
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav {width: 84%;}
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {display: block;text-align: left;}
    .menu_inner_area .navbar.navbar-default{margin-top: 70px;}
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {vertical-align: text-top;}
    header .menu_inner_area {margin-top: 0px;padding: 5px 0;}
    
    /*.main_slider_inner .bs-slider {height: 60vh;}
    .main_slider_inner .bs-slider > .carousel-inner > .item {height: 60vh;}*/
    .section_title p {font-size: 2.4rem !important;}
    .header_top {padding-bottom: 0px;}
    .top_right_wrapper {padding-left: 0;padding-right: 0;}
    .header_top .header_offer .carousel-control.left {left: 20%;}
    .header_top .header_offer .carousel-control.right {right: 20%;}
    header .header_top .header_top_right {margin-right: 0px;text-align: center;width: 100%;padding: 10px 0;background: gray;margin-top: 25px;}
    .header_top_right .search_icon, .header_top_right .wishlist, .header_top_right .cart_icon, .header_top_right .map_icon, .header_top_right .chat_icon, .header_top_right .login_icon {float: none; display: inline-block;}
    .header_top_right .login_icon a i{margin-top: -2px;}
    .hero {top:60%;}
    .carousel-fade .carousel-content h2 {font-size: 30px;line-height: 40px;margin-bottom: 10px;}
    .carousel-fade .carousel-content h4 {font-size: 14px;line-height: 20px;margin-bottom: 20px;}
    .bs-slider {height: 100vh !important;}
    .bs-slider > .carousel-inner > .item img {margin: auto;height: 100vh;margin: auto;width: 100% !important;height: 100vh;object-fit: cover;padding-top: 56px;bottom: 0;top: 20%;}
    .indicators-line > .carousel-indicators {right: 44%;}
    .remove_767 {display: none !important;}
    .display_767 { display: block !important; }
    .product_details h5.product_title {font-size: 16px;}
    .product_details {margin: 30px 0 30px 0;}
    ul.connect_us_inner li {margin: 0 12px;}
    footer .footer_logo {margin: 3em 0;}
    .footer ul.footer_inner li {word-wrap: break-word;}
    .footer .col-lg-3:nth-child(3) {margin-top: 15px;}
    .footer .col-lg-3:nth-child(4) {margin-top: 15px;}
    .hero .row {padding: 10px 30px;}

    /*.category_main_banner {padding-top: 1.5%;}*/
    .categ_image {height: 287px !important;}
    .c_product_details .c_product_title a {font-size: 16px;}
    .c_product_details .price {font-size: 14px;}
    .shoe_product_wrapper span img.categ_image {margin-bottom: 40px;}
    /*.wish_list_wrapper {margin-top: 18%;}*/
    .category_main_banner {margin-top: 11%;}
    .products_pager {margin-top: -10% !important;}
    main .oe_website_login_container {margin-top: 31% !important;}
    .product_page {padding-top: 30px;}
    .filter_categ_wrapper {margin-top: -24%;}
}
@media (max-width: 650px) {
    .header_top .header_offer .carousel-control.left {left: 15%;}
    .header_top .header_offer .carousel-control.right {right: 15%;}
    .menu_inner_area .navbar.navbar-default .navbar-header {width: 20%;}
    .menu_inner_area .navbar.navbar-default .custom_center_nav {text-align: left; width: 75%; display: inline-block; float: none;}
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav {width: 100%; text-align: left;margin-left: 10px;}
    .menu_inner_area .navbar.navbar-default .nav.navbar-nav li {margin-right: 15px;}
    
    .menu_inner_area .navbar.navbar-default .navbar-header .navbar-brand img {vertical-align: text-top;}
    /*.bs-slider > .carousel-inner > .item img {height: auto; padding-top: 8em;}*/
    .indicators-line > .carousel-indicators {right: 42%;}
    .categ_image {height: 200px;}
    .category_main_banner {margin-top: 37%;}
    .products_pager {margin-top: -10% !important;}
    .c_product_inner ul.cart_icon {right: 12px;bottom: 0px;}
    .c_product_inner ul.cart_icon li {font-size: 16px;}
    main .oe_website_login_container {margin-top: 38% !important;}
    .size_txtbox_wrapper {width: 25%;}
    .filter_categ_wrapper {margin-top: -28%;}
    .hero {top:55%;}
    .hero .row {padding: 10px 10px;}
}
@media (max-width: 530px) {
    /*.menu_inner_area .navbar.navbar-default .nav.navbar-nav li a {line-height: 40px;}*/
    main .oe_website_login_container {margin-top: 40% !important;}
    .filter_categ_wrapper {margin-top: -35%;}

}
@media (max-width: 500px) {
    .header_top .header_offer .carousel-control.left {left: 10%;}
    .header_top .header_offer .carousel-control.right {right: 10%;}
    /*.bs-slider > .carousel-inner > .item img {padding-top: 17em;}*/
    .product_inner {width: 100%;margin: 0 auto;}
    .carousel-fade .carousel-content h2 {font-size: 20px;line-height: 25px;margin-bottom: 5px;}
    .carousel-fade .carousel-content h4 {font-size: 12px;line-height: 18px;margin-bottom: 10px;}
    .indicators-line > .carousel-indicators {right: 39%;}
    .search_btn_wrapper input[type=text]{width: auto !important;}
    .products_pager {margin-top: 7% !important;}
    /*.categ_image {height: 170px;}*/
    .category_main_banner {margin-top: 41%;}
    main .oe_website_login_container {margin-top: 44% !important;}
    .size_txtbox_wrapper {width: 29%;}
    .filter_categ_wrapper {margin-top: -38%;}
}
@media (max-width: 450px) {
    ul.connect_us_inner li {margin: 0 5px;}
    .connect_us_inner img {height: 30px;width: 30px;}
    .shoe_product_wrapper span img.categ_image {margin-bottom: 0;}
    main .oe_website_login_container {margin-top: 52% !important;}
    .category_main_banner {margin-top: 46%;}
    .filter_categ_wrapper {margin-top: -42%;}
}
@media (max-width: 400px) {
    .bs-slider {height: 100vh;}
    main .oe_website_login_container {margin-top: 58% !important;}
    .size_txtbox_wrapper {width: 45%;}
    .category_main_banner {margin-top: 51%;}
    .filter_categ_wrapper {margin-top: -47%;}
}
@media (max-width: 360px) {
    main .oe_website_login_container {margin-top: 74% !important;}
    .category_main_banner {margin-top: 57%;}
    .filter_categ_wrapper {margin-top: -52%;}
}
@media (max-width: 320px) {
    
}