.product-info-tabs {
    color: #FFFFFF;
    letter-spacing: 0px;
    font-size: 14px;
    text-align: justify;
    width: 100%;
    font-family: adobe caslon,serif;
    font-weight: 600;
}
.product-info-table .info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-info-table .info-row-item {
    width: calc(50% - 7.5px);
}
.product-info-table .info-row-label {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    line-height: 21px;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
}

/*------------------------------ Wish list start ----------------------------*/
.wish_list_wrapper {
    margin-top: 2%;
}
.wish_list_wrapper .breadcrumb li a {
    color: #003366;
}
/*#wrapwrap table.table.table-bordered, .o_editable table.table.table-bordered {table-layout: auto;}
.wish_list_inner .table-responsive .table.table-bordered tr td:nth-child(2) {
    min-width: 150px;
}
.wish_list_inner .table-responsive .table.table-bordered tr td:nth-child(6) {
    min-width: 150px;
}*/
.wish_list_inner .table-bordered, .table-bordered > thead > tr > th, .wish_list_inner .table-bordered > tbody > tr > th, .wish_list_inner .table-bordered > tfoot > tr > th, .wish_list_inner .table-bordered > thead > tr > td, .wish_list_inner .table-bordered > tbody > tr > td, .wish_list_inner .table-bordered > tfoot > tr > td {
    border-color: #ddd;
}
.wish_list_inner .table-bordered > thead > tr > td, .wish_list_inner .table-bordered > thead > tr > th {
    border-bottom: none;
}
.wish_list_inner .table > tbody > tr > td, .wish_list_inner .table > tbody > tr > th, .wish_list_inner .table > tfoot > tr > td, .wish_list_inner .table > tfoot > tr > th, .wish_list_inner .table > thead > tr > td, .wish_list_inner .table > thead > tr > th {
    padding: 15px 10px 15px;
    vertical-align: middle;
}
.wish_list_inner .table thead td, .wish_list_inner .table th {
    text-transform: uppercase;
    font-weight: bold;
    color: #424242;
    font-size: 13px;
    background-color: #f5f5f5;
}
.wish_list_inner .a_link {
    font-family: plume;
    color: #f8484a;
    font-size: 14px;
    font-weight: 700;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.wish_list_inner .a_link:hover {
    text-decoration: none;
    color: #003366;
}
.wish_list_inner .u_price {
    font-size: 14px;
    line-height: 16px;
    color: #9bd147;
    font-weight: 700;
}
.wish_list_inner .u_price s {
    font-size: 15px;
}
.wish_list_inner .add_cart_btn {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    background: #9bd147;
    text-transform: uppercase;
    text-shadow: none;
    border: 1px solid #9bd147;
    padding: 10px 14px;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.wish_list_inner .p_add_to_cart:hover {
    color: #003366;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #003366;
    text-decoration: none;
}
.wish_list_inner a.remove_btn_icon {
    color: #fff;
    font-weight: 700;
    background: #003366;
    border: 1px solid #003366;
    text-align: center;
    padding: 9px 12px;
    cursor: pointer;
    text-transform: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.wish_list_inner a.remove_btn_icon:hover {
    color: #003366;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #003366;
    text-decoration: none;
}
.wish_list_inner .cont_buttons a.btn-primary {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 14px;
    border: 1px solid #f8484a;
    color: #fff;
    background: #f8484a;
    margin: 1em 0;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.wish_list_inner .cont_buttons a.btn-primary:hover {
    color: #f8484a;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #f8484a;
    text-decoration: none;
}

.p_add_to_cart {
    margin-bottom: 1em;
    width: 125px;
    text-align: center;
    padding: 7px 0;
    border: 1px solid;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: #003366;
    border-color: #003366;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.p_add_to_cart:hover {
    color: grey;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: grey;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.wishlist-cart-icon{
    font-size: 0px;
}
@media(max-width: 440px){
    .wishlist-cart-icon{
        font-size: 13px;
    }
    .wishlist-cart-button{
        display: none;
    }
    .p_add_to_cart{
        width: 38px;
    }
}
/*------------------------------ Wish list end ----------------------------*/

.btn_icon{
	margin-left: 7px;
    margin-top: 7px;
}
