<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#2C0091;">Website FAQ</h2>
      <h3 class="oe_slogan">

Website F.A.Q. is a complete Frequently Asked Question Management module for odoo. It provides an F.A.Q. With category which can be used to effortlessly add F.A.Q. sections to your website.
<br/>
Organizing the most common support requests you get into a F.A.Q. section, will save you time, by drastically reducing the number of incoming support emails!
<br/>
F.A.Q. offers you unlimited categories to organize your content! And off course, you can have unlimited sets of Questions and Answers in each category! All types of content text-images-videos-script are allowed in each answer through the editor! So, become creative, and enhance your customers experience with rich content, images and even some video tutorials!
<br/>

</h3>

      <h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/PtNcS_Nq0AA" target="_blank">How it works? Click here to watch video</a>
      </h2>   

    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <p class="oe_mt32">
		</p><div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
		  <i class="fa fa-hand-o-right"></i><b> Key features: </b>
			<ul class="list-unstyled">
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Category Management.
			  </li>	
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Question and Answers.
			  </li>
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Answers with html editor.
			  </li>
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Ability to active/inactive category or questions.
			  </li>
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Responsive.
			  </li>

			</ul>

		</div>
      		
    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Website FAQ tree view with active,inactive filter.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="1.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">FAQ form view.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="2.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Question, Html answer and publish field in FAQ line form view.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="3.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">FAQ page on website looks like below.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="4.png">
        </div>
    </div>
</section>




<br/>
<section class="oe_container oe_dark"> 
	<div class="oe_row oe_spaced"> 
		<h2 class="oe_slogan" style="color:#2C0091;">You may also like!</h2> 
		<div class="col-md-4" align="center">
			<a href="https://apps.odoo.com/apps/modules/11.0/sh_social_media/">
				<img src="https://apps.odoo.com/apps/modules/11.0/sh_social_media/icon.png" alt="Social Media Extra Instagram, Pinterest, Tumblr, Flickr, Snapchat, Quora" height="200"/>
			</a> 
			<br/> <strong>Social Media Extra Instagram, Pinterest, Tumblr, Flickr, Snapchat, Quora</strong> 
		</div> 
		
		<div class="col-md-4" align="center">
		 <a href="https://apps.odoo.com/apps/modules/11.0/sh_website_stop_copy/">
			<img src="https://apps.odoo.com/apps/modules/11.0/sh_website_stop_copy/icon.png" alt="Website Content Protection" height="200"/>
		</a> 
		<br/> 
		<strong>Website Content Protection</strong> 
		</div>	

		<div class="col-md-4" align="center">
		 <a href="https://apps.odoo.com/apps/modules/11.0/sh_website_popup/">
			<img src="https://apps.odoo.com/apps/modules/11.0/sh_website_popup/icon.png" alt="Popup Alert Website" height="200"/>
		</a> 
		<br/> 
		<strong>Popup Alert Website</strong> 
		</div>	



	</div> 
</section> 
<br/>







<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
	<br/>
	<div class="text-center">	
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info[at]softhealer.com">Email</span></a>
	    <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com/support/help"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="Softhealer Helpdesk">Helpdesk Support</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="softhealer.com">More About Us</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="skype:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info_736589">Skype</span></a>
    </div>	
  </div>
</section>
